@{
    ViewBag.Title = "播放记录";
    Layout = "~/Views/Shared/_LayoutPlayRec.cshtml";
}

<div class="title">
    <div class="inner">播放记录</div>
</div>
<div class="inner">
    <div class="record">
        <ul>
            <li>

                <div class="img"><span>会员</span><img src="images/news_img.png" alt="" /></div>
                <h2><span>已看完</span>中国电动汽车百人论坛(2017)三创新亮点</h2>
                <div class="record_intro">
                    <span>讲师：卜向红</span>
                    <span>2017年01月22日</span>
                </div>
                <p>
                    每年一届的中国电动汽车百人会论坛，可谓是电动汽车领域的一场盛宴。政府官员、专家学者、科研人员、企业高层及相关领域的行业精英，都会齐聚北京钓鱼台国宾馆，回顾电动汽车产业发展的过去，展望新一年前景，总结产业政策得失、研究市场发展短板、发现技术攻关难题、探讨产业发展新思路，共促电动汽车产业步入科学可持续发展的轨道。
                    回首2016年的电动汽车百人会论坛，科技部、财政部、工信部、交通部等部委领导，都对电动汽车产业的发展提出了针对性的指导意见和措施。“政府将严肃核查新能源汽车骗补行为”、“暂
                </p>
            </li>
            <li>
                <div class="img"><img src="images/news_img.png" alt="" /></div>
                <h2><span>已看完</span>中国电动汽车百人论坛(2017)三创新亮点</h2>
                <div class="record_intro">
                    <span>讲师：卜向红</span>
                    <span>2017年01月22日</span>
                </div>
                <p>
                    每年一届的中国电动汽车百人会论坛，可谓是电动汽车领域的一场盛宴。政府官员、专家学者、科研人员、企业高层及相关领域的行业精英，都会齐聚北京钓鱼台国宾馆，回顾电动汽车产业发展的过去，展望新一年前景，总结产业政策得失、研究市场发展短板、发现技术攻关难题、探讨产业发展新思路，共促电动汽车产业步入科学可持续发展的轨道。
                    回首2016年的电动汽车百人会论坛，科技部、财政部、工信部、交通部等部委领导，都对电动汽车产业的发展提出了针对性的指导意见和措施。“政府将严肃核查新能源汽车骗补行为”、“暂
                </p>
            </li>
        </ul>
    </div>
</div>
