@{
    ViewBag.Title = "资质荣誉";
    Layout = "~/Views/Shared/_LayoutAboutYH.cshtml";
}

<div class="inner">
    <div class="about about_team">
        <h1>资质荣誉</h1>
        <div class="honor">
            <img src="~/images/zzry_img.png">
        </div>
    </div>
</div>
