@{
    Layout = null;
}
<div class="banner">
    <div class="flexslider">
        <ul class="slides">
            <li style="background:url(@Url.Content("~/images/banner1.jpg")) 50% 50% no-repeat;"></li>
            <li style="background:url(@Url.Content("~/images/img2.jpg")) 50% 50% no-repeat;"></li>
            <li style="background:url(@Url.Content("~/images/img3.jpg")) 50% 50% no-repeat;"></li>
            <li style="background:url(@Url.Content("~/images/img4.jpg")) 50% 50% no-repeat;"></li>
        </ul>
    </div>
</div>


