@{
    ViewBag.Title = "发展历程";
    Layout = "~/Views/Shared/_LayoutAboutYH.cshtml";
}

<div class="inner">
    <div class="about about_team">
        <h1>发展历程</h1>
        <div class="course">
            <div class="course_intro">
                <div class="cir"><a href="javascript:void(0)">1993-1995<br>MIS阶段</a></div>
                <p>1993年成立浙大灵峰科技有限公司<br>1995年成立杭州优时软件有限公司</p>
            </div>
            <div class="course_intro two_cir">
                <div class="cir"><a href="javascript:void(0)">1995-1998<br>可重构平台阶段</a><a href="javascript:void(0)">1998-2001<br>先进商业架构阶段</a></div>
                <p>EOS可重构平台列为工信部重点新产品项目<br>与浙大合作，多次承接省部级科技攻关项目</p>
            </div>
            <div class="course_intro">
                <div class="cir"><a href="javascript:void(0)">2001-2009<br>行业深化发展<br>战略合作伙伴阶段</a></div>
                <p>相继成立珠宝、化纤、纺织服装、<br>电机四个事业部，深化行业发展。</p>
            </div>
            <div class="course_intro">
                <div class="cir"><a href="javascript:void(0)">2009-2015<br>应用集成与<br>云平台研发阶段</a></div>
                <p>2014年，完成云平台研发。<br>2015年，完成智慧制造系统研发<br>并进入应用阶段。</p>
            </div>
            <div class="course_intro">
                <div class="cir"><a href="javascript:void(0)">2015-2017<br>智能制造<br>V5技术平台</a></div>

            </div>
        </div>
    </div>
</div>
